/* styles.css */

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans Pro", sans-serif;
}

p {
    font-size: 16px;
}

/*Forces max width and has background*/
.about-section, .experience-section, .post-section, .end-section, .section-title{
    max-width: 1250px;
    margin: 0 auto;
    padding: 0px 20px;
    background-color:white;
}

body {
    background-color:beige;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 25px;
}

button:hover {
    background-color: #45a049;
}

@media (max-width: 768px) {
    .about-section, .experience-section, .post-section, .end-section .section-title{
        min-width: 0;
    }
}

/*#################
 Navbar and Banner
#################*/
.bg-img {
    position: relative;
    width: 100%;
    min-height: 200px;
    background-image: url("../img/machine-learning.jpg");
    background-position:left;
    background-repeat: no-repeat;
    background-size: cover;
}

/*The .kbs title on navbar*/

.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    position: fixed;
    padding: 12px;
    top: 0;
    left: 0;
    background-color: black;
    font-size: 18px;
}

#logo {
    display: inline-block;
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    display: inline-block;
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;

    /* Centering Text */
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width 0.3s;
}

/*The color for the active page. Before removes the underline for current page*/
.navbar a.active {
    color:cadetblue;
    text-decoration: none !important;
}
.navbar a.active::before {
    display: none;
}

.navbar a:hover::before,
.navbar a:target::before,
.navbar a.active::before {
    width: 100%;
}

@media (max-width: 768px) {
    .navbar {
        justify-content: center; /* Center the items */
        flex-wrap: nowrap; /* Prevent wrapping onto a new line */
    }

    .navbar a {
        margin-left: 20px; /* Adjust spacing for smaller screens */
        white-space: nowrap;
    }
}

/*###################
 About Section Cards
###################*/
.about-section {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

.about-section p, h5{
    padding-bottom: 10px;
}

.about-card {
    border-bottom: 1px solid;
    border-color: #dee2e6;
    font-size: 1.5rem;
    padding: 20px 40px;
    
}

.about-card h3{
    font-size: 1.5rem;
}

.about-card img {
    width: 120%;
    max-width: 300px;
    margin-left: auto;
    margin-right: -35px;
}

.about-1 {
    flex: 1;
    display: flex;
    align-items:center;
}

.about-2 {
    flex: 3;
}

.about-3 {
    flex: 2;
    border-left: 1px solid;
    border-color: #dee2e6;
}

.about-card .icons {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.about-card .icons i {
    font-size: 1.5rem;
    margin-right: 15px;
}

@media (max-width: 768px) {
    .about-card {
        border:None;
    }

    .about-card img {
        margin: auto;
    }

    .about-section {
        flex-direction: column;
    }
}

/*##############
 Experience Section
##############*/

.experience-section { /*Just to organize the education and timeline boxes properly*/
    display: flex;
    justify-content: center;
    padding: 0 80px;
}

.experience-card {
    text-align: left;
    display: inline-block;
    width: 100%; /* Adjust the width of the cards as needed */
    border: 1px solid #dee2e6; /* Add border as needed */
    padding: 20px; /* Add padding for spacing */
    margin: 0 10px 20px; /* Add margin between cards */
    box-sizing: border-box;
    max-height: 580px;
    flex: 1;
}

.experience-card h3{
    font-size: 1.5rem;
}

.exp-2 {
    flex: 2;
    overflow-y: auto;
    text-indent: -2.6em;
    padding-left: 3.6em;
}

.exp-2, .box-spacing {
    text-indent: 0;
}

.exp-2 p {
    padding-top: 15px;
}

.education {
    font-size: 10px;
}

.resume p {
    padding:0px;
}

@media (max-width: 768px) {

    .experience-section {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        padding: 0 50px;
    }

    .experience-card {
        width: 100%;
    }

    .exp-1 {
        overflow-y: auto;
    }

    .exp-2 {
        padding-left: 20px;
    }

}

/*############
 Post Section
############*/

.post-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.post {
    display: flex;
    margin-bottom: 20px;
    border: 1px solid;
    min-width: 70%;
    height: 200px;
    box-sizing: border-box;
    max-width: 10%;
}

.post-image {
    flex: 1;
    overflow: hidden;
}

.post-image img {
    width: auto;
    max-width: 120%;
    height: 100%;
    margin-left: 0px;
    object-fit: cover;
    display: block;
}

.post-details {
    flex: 3;
    margin: 20px;
}

.post-details p, a{
    padding: 5px 0;
}

.read-more {
    display: inline-block;
    color: red;
    text-decoration: none;
}

@media (max-width: 768px) {
    .post {
        flex-direction: column; /* Stack items vertically for smaller screens */
        max-width: 80%;
        min-width: 80%;
        min-height: 500px;
    }

    .post-image {
        height:80%;
        overflow: hidden;
    }

    .post-image img {
        height: 100%; /* Allow the image to resize for smaller screens */
        width: 100%;
        object-fit:cover;
    }
}

/*###########
 End Section
###########*/

.end-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 100px 0;
}

/*Font Related Stuff*/
.font-title {
    font-size: 20px;
}

.font-subtitle {
    padding: 5px 0 10px 0;
}

.font-weight-light {
    font-weight: 400;
}

.box-spacing {
    display: block;
    margin-bottom: 20px;
    border: 1px solid;
    width: 3rem;
    margin-right: auto;
    margin-left: 0;
}

.box-spacing-light {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #dee2e6;
    width: 15rem;   
}

.section-title {
    padding: 40px 0;
    text-align: left;
    text-indent: 100px;
}

.section-title p {
    padding-top: 10px;
}

.title-highlight {
    color:cornflowerblue;
}

@media (max-width: 768px) {
    .section-title {
        text-align: center;
        text-indent: 0;
        padding: 80px;
    }
}