/* styles.css */

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans Pro", sans-serif;
}

p {
    font-size: 16px;
}

.about-section, .resume-section, .timeline-section{
    max-width: 1200px;
    margin: 0 auto;
}


/*#################
 Navbar and Banner
#################*/
.bg-img {
    position: relative;
    width: 100%;
    min-height: 200px;
    background-image: url("../img/machine-learning.jpg");
    background-position:left;
    background-repeat: no-repeat;
    background-size: cover;
}

/*The .kbs title on navbar*/

.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    position: fixed;
    padding: 12px;
    top: 0;
    left: 0;
    background-color: black;
    font-size: 18px;
}

#logo {
    display: inline-block;
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    display: inline-block;
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;

    /* Centering Text */
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width 0.3s;
}

/*The color for the active page. Before removes the underline for current page*/
.navbar a.active {
    color:cadetblue;
    text-decoration: none !important;
}
.navbar a.active::before {
    display: none;
}

.navbar a:hover::before,
.navbar a:target::before,
.navbar a.active::before {
    width: 100%;
}

@media (max-width: 600px) {
    .navbar {
        justify-content: center; /* Center the items */
        flex-wrap: nowrap; /* Prevent wrapping onto a new line */
    }

    .navbar a {
        margin-left: 20px; /* Adjust spacing for smaller screens */
        white-space: nowrap;
    }
}

/*###################
 About Section Cards
###################*/
.about-section {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

.about-section p, h5{
    padding-bottom: 10px;
}

.about-card {
    border-bottom: 1px solid;
    border-color: #dee2e6;
    font-size:1.5rem;
    padding: 20px 40px;
    
}

.about-card img {
    width: 100%;
    max-width: 150px;
    margin-left: auto;
    margin-right: -35px;
}

.card-1 {
    flex: 1;
    display: flex;
    align-items:center;
}

.card-2 {
    flex: 3;
}

.card-3 {
    flex: 2;
    border-left: 1px solid;
    border-color: #dee2e6;
}

.about-card .icons {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.about-card .icons i {
    font-size: 1.5rem;
    margin-right: 15px;
}

@media (max-width: 768px) {
    .about-card img {
        margin: auto;
    }

    .about-section {
        flex-direction: column;
    }
}

/*##############
 Resume Section
##############*/

.resume-section {
    padding: 20px 40px;
}

.resume p {
    padding:0px;
}

/*################
 Timeline Section
################*/

.timeline-section {
    padding: 20px 10%;
    background:whitesmoke;
}

.timeline-section p {
    padding: 5px;
}

/*Font Related Stuff*/
.font-weight-light {
    font-weight: 400;
}

.box-spacing {
    display: block;
    margin-bottom: 20px;
    border: 1px solid;
    width: 3rem;
}